<h1>Product : {{model.name}}</h1>

<table>
  {{#each buffer}}
  <tr>
    <td>
      <strong>{{key}}:</strong>
    </td>
    <td>
      {{input value=value}}
    </td>
  </tr>
  {{/each}}
</table>

<button class="btn btn-primary" {{action 'save'}}>Update</button>

{{outlet}}
