<h1>Product : {{name}}</h1>

<div class="bg-info">
  <p class="text-info">Created: {{created}}</p>
  <p class="text-info">Changed: {{changed}}</p>
</div>

<div class="form-group">
  <label for="modelName">Name</label>
  {{input value=name classNames='form-control' id='modelName'}}
</div>
<div class="form-group">
  <label for="modelDescription">Description</label>
  {{textarea value=description classNames='form-control' id='modelDescription'}}
</div>  

{{!-- <table>
  {{#each buffer}}
  <tr>
    <td>
      <strong>{{key}}:</strong>
    </td>
    <td>
      {{input value=value}}
    </td>
  </tr>
  {{/each}}
</table> --}}

<button class="btn btn-primary" {{action 'save'}}>Update</button>
<button class="btn btn-warning" {{action 'cancel'}}>Cancel</button>

{{outlet}}
