<h1>Product : {{model.name}}</h1>

<div class="form-group">
  <label for="modelName">Name</label>
  {{input value=name classNames='form-control' id='modelName'}}
</div>
<div class="form-group">
  <label for="modelDescription">Description</label>
  {{textarea value=description classNames='form-control' id='modelDescription'}}
</div>  

{{!-- <table>
  {{#each buffer}}
  <tr>
    <td>
      <strong>{{key}}:</strong>
    </td>
    <td>
      {{input value=value}}
    </td>
  </tr>
  {{/each}}
</table> --}}

<button class="btn btn-primary" {{action 'save'}}>Update</button>

{{outlet}}
