<div class="jumbotron">
  <h1>{{model.name}}</h1>
  <p>{{model.description}}</p>
  {{!-- {{#each model.attributes}}
  <p><strong>{{this.key}}:</strong></p>
  <p>{{this.value}}</p>
  {{/each}} --}}
</div>

{{#link-to 'product.edit' model classNames="btn btn-primary btn-lg"}}Change{{/link-to}}

{{outlet}}
