<div class="text-right">
  {{#link-to 'product.edit'}}
  <button {{bind-attr class=":btn :btn-default :btn-sm editMode:active"}} title="edit">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
  {{/link-to}}
  <button {{bind-attr class=":btn :btn-default :btn-sm :red deleteMode:active"}} {{action "delete"}} title="delete">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</div>

{{#if deleteMode}}
<div class="alert alert-danger fade in" role="alert">
  <button type="button" {{action "cancelDelete"}} class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
  <h4>Damn! Really?</h4>
  <p>Be careful, if you remove this product you will not be able to revert this action.</p>
  <p>
    <button type="button" {{action "confirmDelete"}} class="btn btn-danger :btn-sm">Proceed anyway</button>
    <button type="button" {{action "cancelDelete"}} class="btn btn-default :btn-sm">Cancel</button>
  </p>
</div>
{{/if}}

 <div class="jumbotron">
  <h1>{{brand}} - {{name}}</h1>
  <p>{{category}} : {{usage}}</p>
  <img {{bind-attr src=mainImage}}>
  <p>{{description}}</p>
  <p>{{features}}</p>
  <p>{{specialFeatures}}</p>
  <p>{{fabricInfo}}</p>
  <p>{{productCare}}</p>
  <p>{{alternateNames}}</p>
  {{!-- {{#each model.attributes}}
  <p><strong>{{this.key}}:</strong></p>
  <p>{{this.value}}</p>
  {{/each}} --}}
</div>

{{outlet}}
